// Cores
$cor-primaria: #000000;
$cor-secundaria: #1642d4;
$cor-fundo: #eeeeee;
$cor-fundo2: #cecece;
$cor-texto: #333;

// Tipografia
$font-texto: Georgia, 'Times New Roman', Times, serif;
$fonte-padrao: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$fonte-codigo: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

// Espaçamento
$espacamento-padrao: 1rem;
