@import '../styles/variables';

.contato-container {
  padding: 100px 20px 40px;
  margin: 0 auto;
  text-align: center;
}

.contato-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: $cor-primaria;
}

.contato-container p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 2rem;
}

.redes-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.redes-links a {
  text-decoration: none;
  color: #00bcd4;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.redes-links a:hover {
  color: #007a99;
}
