@import '../styles/mixins';
@import '../styles/variables';

.home-container {
  font-family: $font-texto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  margin: 0;

  @include responsive-device("tablet") {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }
}

.home-left {
  flex: 1;
  display: flex;
  justify-content: center;

  .profile-image {
    margin: 5rem;
    width: 450px;
    max-width: 500px;
    height: 380px;
    border-radius: 5%;
    object-fit: cover;

    @include responsive-device("tablet") {
      margin: 4rem auto;
      max-width: 300px;
    }

    @include responsive-device("mobile") {
      margin: 4rem auto;
      max-width: 250px;
    }
  }
}

.home-right {
  flex: 2;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include responsive-device("tablet") {
    padding-left: 0;
    margin-top: 1rem;
  }

  .name {
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: $cor-primaria;

    @include responsive-device("mobile") {
      font-size: 2rem;
    }
  }

  .python {
    width: 30px;
    height: auto;

    @include responsive-device("mobile") {
      width: 25px;
    }
  }

  .tecname {
    color: $cor-secundaria;
    font-size: 1.5rem;
    margin-top: 0.5rem;

    @include responsive-device("mobile") {
      font-size: 1.2rem;
    }
  }

  .typing {
    font-size: clamp(1rem, 2vw, 2rem);
    color: $cor-texto;
    margin-top: 1rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid $cor-texto;
    width: 0;
    animation: typing 6s steps(30, end) infinite, blink 0.7s step-end infinite;

    @include responsive-device("mobile") {
      font-size: 1rem;
    }
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
