@import '../styles/variables';

.projetos-container {
  font-family: $font-texto;
  padding: 70px 20px;
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
}

.projetos-container h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: $cor-primaria;
}

.projetos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.projeto-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  h3 {
    margin-top: 15px;
    font-size: 1.3rem;
    color: #222;
  }

  p {
    font-size: 1rem;
    color: #555;
    margin: 15px 0;
  }

  a {
    font-size: 1rem;
    text-decoration: none;
    color: $btn-background;
    font-weight: bold;
  }

  .projeto-img {
    width: 100%;
    height: 180px; // altura fixa para padronizar
    object-fit: cover; // mantém proporção sem distorcer
    object-position: center;
    border-radius: 8px;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      transform: scale(1.05);
      filter: brightness(0.9);
    }
  }
}

@media (max-width: 600px) {
  .projetos-container h2 {
    font-size: 2rem;
  }

  .projeto-card {
    padding: 15px;

    h3 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.95rem;
    }

    a {
      font-size: 0.95rem;
    }

    .projeto-img {
      height: 140px; // altura menor para telas pequenas
    }
  }
}
